
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/slideBars.css">
    <title><%= data.title %></title>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <%- include('partials/slideBars') %>
        <div id="content" class="p-4 p-md-5"> 
            <%- include('partials/contentAdmin') %>
            <div class="mb-3">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><%= data.title %></li>
                    </ol>
                </nav>
            </div>
            <div class="mb-4">
                <% if(data.page) { %>
                    <%- include(data.page) %>
                <%}%>
            </div>
        </div>
    </div>
</body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slideBars.js"></script>
    <script src="/js/formatPrice.js"></script>
    <script src="/js/CKE.js"></script>
</html>
</html>