
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/slideBars.css">
    <link rel="stylesheet" href="/css/table.css">
    <!-- <link rel="stylesheet" href="/css/viewDetailProduct.css" /> -->
    <link rel="stylesheet" href="/css/dasboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>


    <title><%= data.title %></title>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <%- include('partials/slideBars') %>
        <div id="content" class="p-4 p-md-5"> 
            <%- include('partials/contentAdmin') %>

            <% if(data.title != 'Trang chủ') { %>
                <div class="custom-border-bottom py-3">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 mb-0 p-0 bg-dark-subtle  d-flex align-items-center" style="height: 50px;">
                        <a href="/">Trang chủ</a> 
                        <span class="mx-2 mb-0">/</span> 
                        <strong class="text-black"> <%= data.title != 'admin' ? data.title : '' %></strong>
                      </div>
                    </div>
                  </div>
                </div>
              <%}%>

            <div class="mb-4">
                <% if(data.page) { %>
                    <%- include(data.page) %>
                <% }else { %>
                  <%- include('dasboard/index') %>
                <%}%> 
            </div>
        </div>
    </div>
</body>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slideBars.js"></script>
    <script src="/js/formatPrice.js"></script>
    <script src="/js/CKE.js"></script>
    <script src="/js/datatable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    
</html>
</html>