
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/carousel.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/viewDetailProduct.css" />
    <link rel="stylesheet" href="/css/viewProduct.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title><%= data.title %></title>
  </head>
  <body>
    <div class="header"><%- include('partials/header') %></div>

    <% if(data.title != 'Trang chủ') { %>
      <div class="custom-border-bottom py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a href="/">Trang chủ</a> 
              <span class="mx-2 mb-0">/</span> 
              <strong class="text-black"> <%= data.title %></strong>
            </div>
          </div>
        </div>
      </div>
    <%}%>

    <div>
      <% if(data.page) { %> <%- include(data.page) %> <%}%>
    </div>

    <div class="footer"><%- include('partials/footer') %></div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/editQuantity.js"></script>
  <script src="/js/checkSignup.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/scroll.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</html>
