
<div class="container p-0">
    <div class="row">
      <div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
      
      <swiper-container style="--swiper-navigation-color: #f1bc31; --swiper-pagination-color: #f1bc31" class="mySwiper"
      pagination="true" pagination-clickable="true" navigation="true" loop="true" autoplay-delay="2500">
      <swiper-slide><img src="<%= data.rows.hinhAnh %>" /></swiper-slide> 
      <% for (let i=0;i<data.list.length;i++) { %>
        <swiper-slide> <img src="<%= data.list[i].hinhAnhPhu %>">  </swiper-slide>  
        <% } %>
    </swiper-container> 
      </div>
      <div class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
        <h3><%= data.rows.tenSanPham %></h3>
        <h4>Hãng sản xuất: <%= data.rows.tenDanhMuc %></h4>
        <h4>Giá: <%= data.rows.gia.toLocaleString('vi-VN') + '₫' %></h4>
        <h4>Khuyến mãi: <strong><%= data.rows.khuyenMai + '%' %></strong></h4>
        <h4>Thuộc danh mục: <strong><%= data.rows.tenDanhMuc %></strong></h4>
        <h4>Độ nổi bật: <%= data.rows.noiBat == 1 ? 'Nổi bật' : 'Không nổi bật' %></h4>
        <h4>Thời gian thêm: <%= (new Date(data.rows.ngayTaoSanPham)).toLocaleString('vi-VN', { dateStyle: 'short', timeStyle: 'medium' }) %></h4>
        <h4>Thời gian sửa: <%= (new Date(data.rows.ngaySuaSanPham)).toLocaleString('vi-VN', { dateStyle: 'short', timeStyle: 'medium' }) %></h4>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
        <h3><strong>Mô tả chi tiết: <%= data.rows.tenSanPham %></strong></h3>
        <%- data.rows.moTa %>
      </div>
      <div class="row mt-5">
        <h3><strong>Thông số kỹ thuật: <%= data.rows.tenSanPham %></strong></h3>
        <%- data.rows.thongSoKyThuat %>
      </div>
  </div>
