<style>
 table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}
</style>
    <table id="table_id"  class="table table-hover" style="width: 100%;">
      <thead style="width: 100%;">
        <tr class="fw-semibold fs-6 text-gray-800">
            <th class="min-w-50px">STT</th>
            <th class="min-w-400px">Hình ảnh</th>
            <th class="min-w-400px">Tên sản phẩm</th>
            <th class="min-w-150px">Danh mục</th>
            <th class="min-w-250px">Giá</th>
            <th class="min-w-100px">Khuyến mãi</th>
            <th class="min-w-200px text-center">Tác vụ</th>
        </tr>
    </thead>
    <tbody>
      <% for(let i=0;i<data.rows.length;i++) { %>
        <tr style="border: none;">
            <td><%= i+1 %></td>
            <td><img src="<%= data.rows[i].hinhAnh %>" width="100" height="100" class="img-fluid"></td>
            <td><%= data.rows[i].tenSanPham %></td>
            <td><%= data.rows[i].tenDanhMuc%></td>
            <td><%= data.rows[i].gia.toLocaleString('vi-VN') + " VNĐ" %></td>
            <td><%= data.rows[i].khuyenMai + '%' %></td>
            <td>
              <div class="d-flex justify-content-evenly">
                <a href="/detail-product/<%= data.rows[i].idSanPham %>" class="text-black">
                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/edit-product/<%= data.rows[i].idSanPham %>"class="text-warning">
                    <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/delete-product/<%= data.rows[i].idSanPham%>"class="text-danger">
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            </td>
        </tr>
        <% } %>
    </tbody>
  </table>
  
    