<div class="container">
  <div class="row align">
    <div class="col-md-12 mb-5">
      <div class="float-md-left"><h2 class="text-black h5">Sản phẩm hiện có: (<%= data.count %>)</h2></div>
      <div class="d-flex">
        <div class="dropdown mr-1 ml-md-auto">
          <!-- <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Latest
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" href="#">Men</a>
            <a class="dropdown-item" href="#">Women</a>
            <a class="dropdown-item" href="#">Children</a>
          </div> -->
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference" data-toggle="dropdown">Lọc sản phẩm theo: </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <a class="dropdown-item" href="?page=1&sort=noibat">Sản phẩm nổi bật nhất</a>
            <a class="dropdown-item" href="?page=1&sort=banchay">Bán chạy nhất</a>
            <a class="dropdown-item" href="?page=1&sort=khuyenmai">Khuyến mãi cao nhất</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="?page=1&sort=asc">Giá thấp đến cao</a>
            <a class="dropdown-item" href="?page=1&sort=decs">Giá cao đến thấp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% for(let i=0;i<data.rows.length;i++) { %>
    <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex fadeInUp ftco-animated">
        <div class="product d-flex flex-column">
            <a href="/detail-phone/<%= data.rows[i].idSanPham %>" class="img-prod"><img class="img-fluid bg-transparent" src="<%= data.rows[i].hinhAnh %>" alt="Colorlib Template">
                <% if(data.rows[i].khuyenMai >= 1) { %>
                    <span class="status"><%= data.rows[i].khuyenMai %> % OFF</span>
                <% } %>
                <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3">
                <h3><a href="/detail-phone/<%= data.rows[i].idSanPham %>"><%= data.rows[i].tenSanPham %></a></h3>
                  <div class="pricing">
                    <%
                        let giaSale = data.rows[i].gia - (data.rows[i].gia * (data.rows[i].khuyenMai / 100))
                    %>
                    <p class="price">
                        <% if(data.rows[i].khuyenMai >= 1) { %>
                            <span class="mr-2 price-dc"><%= data.rows[i].gia.toLocaleString('vi-VN') + '₫' %></span>
                        <% } %>
                        <span class="price-sale"><%= giaSale.toLocaleString('vi-VN') + '₫' %></span>
                    </p>
                </div>
                <p class="bottom-area d-flex px-3">
                    <a href="/add-cart/<%= data.rows[i].idSanPham %>" class="add-to-cart text-center py-2 mr-1"><span>Thêm giỏ hàng<i class="ion-ios-add ml-1"></i></span></a>
                    <a href="#" class="buy-now text-center py-2">Mua Ngay<span><i class="ion-ios-cart ml-1"></i></span></a>
                </p>
            </div>
        </div>
    </div>
    <% } %>
  </div>
</div>
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col text-center">
      <div class="block-27">
        <ul>
          <li>
            <a href="?page=<%= (data.currentPage > 1) ? (data.currentPage - 1) : 1 %><%=data.getSort ? '&sort='+data.getSort : ''%>">&lt;</a>
          </li>
        
          <% for(let i = 1; i <= data.total; i++){ %>
            <li class="<%= data.currentPage == i ? 'active' : '' %>">
              <a href="?page=<%= i %><%=data.getSort ? '&sort='+data.getSort : ''%>"><%= i %></a>
            </li>
          <% } %>
          <li>
            <a href="?page=<%= (data.currentPage < data.total) ? (data.currentPage + 1) : data.currentPage %><%=data.getSort ? '&sort='+data.getSort : ''%>">&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
