<h1>Chi tiết người dùng</h1>
<h1>Tên tài khoản: <%=data.rows.userName %></h1>
<h1>Họ tên: <%=data.rows.fullName %></h1>
<h1>Giới tính: <%=data.rows.sex %></h1>
<h1>Địa chỉ email: <%=data.rows.email %></h1>
<h1>Địa chỉ: <%=data.rows.address %></h1>
<h1>Quyền truy cập: <%=data.rows.role %></h1>